/* playbutton.css */

.play-button {
   
    background-color: transparent !important;
  
    
    padding: 6px; /* Adjust the padding as needed */
    cursor: pointer;
    z-index: 4;
  }

  
.play-button-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centers the PlayButton within its parent container */
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    /* Initially hidden */
}

.movie-image:hover .play-button-container {
    visibility: visible;
    /* Show on hover */
}

