.trending-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: start;
}
.grid-1{
  display: grid;
  justify-content: end;
}
.trending-box {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;

}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 2;
}

.comp-grid {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  height: 100%;
}

.text-slate-300 {
  color: #cbd5e0;
}

.text-white {
  color: #fff;
}

.font-bold {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .trending-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
}